.document.row
  .col-md-12
    %a.title{href: document.url, target: "_blank"}
      = truncate(document.description, length: 90, :separator => ' ')
    %p.url
      =document.url
    .description
      = hit.try(:highlight).try(:content) ? hit.highlight.content.join.html_safe : document.content
    .tags
      = render partial: "annotation", collection: document.annotations
    %p.score
      %span
        = "Score: #{hit._score}"
      %span{style: "padding: 0 10px;"} -
      %span
        = "#{document.from_date} days ago."
      %span{style: "padding: 0 10px;"} -
      %span
        = "Doc ID: #{document.id}"
%br
