.document.row
  .col-md-12
    %a.title{href: document.url, target: "_blank"}
      = truncate(document.decorate.get_title, length: 80, :separator => ' ')
    %p.url
      = truncate(document.url, length: 100, :separator => ' ')
    .description
      = hit.try(:highlight).try(:content) ? hit.highlight.content.join.html_safe : truncate(document.content, length: 200, :separator => ' ')
    .tags
      = render partial: "annotation", collection: document.annotations
    %p.score
      %span
        = "Score: #{hit._score}"
      %span{style: "padding: 0 10px;"} -
      %span
        = "#{document.from_date} days ago."
      %span{style: "padding: 0 10px;"} -
      %span
        = "ID: #{document.id}"
%br
